<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <form #simpleLoginForm="ngForm" (ngSubmit)="getValue(simpleLoginForm.value)">
                    <h4>Simple Template Driven Angular Login Form</h4>
                    <hr />
                    <div class="text-danger"></div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" ngModel name="username" class="form-control" />                  
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" ngModel name="password" class="form-control" />                   
                    </div>                
                    <div class="form-group">
                        <button class="btn btn-secondary btn-block">Log in</button>
                    </div>                
                </form>
            </section>
        </div>    
    </div>
</div>