<!-- <h1>{{title}}</h1>
<h2>{{name}}</h2>
<h2>{{getName()}}</h2>
<h2>{{obj.name}} {{obj.age}}</h2>
<h2>{{arr[0]}} {{arr[1]}}</h2>
<h2>{{siteUrl}}</h2> -->

<!-- <app-user-list></app-user-list> -->

<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<mat-toolbar color="primary" class="mat-elevation-z8">
    <span>
        <mat-icon>eco</mat-icon>My Application
    </span>

    <div class="spacer"></div>

    <button mat-button>Home</button>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <button mat-button (click)="createTable()">Flat List</button>
    <button mat-raised-button color="accent">Login</button>
    <!-- <a mat-button>Home</a>
    <a mat-button>About</a>
    <a mat-button>Contact</a>
    <a mat-raised-button color="accent">Login</a> -->
</mat-toolbar>

<div class="container mt-2">    
    <div class="mat-elevation-z8">  
        <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>       -->
        <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let flat"> {{flat.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
                <mat-cell *matCellDef="let flat"> {{flat.category}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="meterNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Meter No.</mat-header-cell>
                <mat-cell *matCellDef="let flat"> {{flat.meterNo}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="rent">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Rent</mat-header-cell>
                <mat-cell *matCellDef="let flat"> {{flat.rent}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
            <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        </mat-table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
        </mat-paginator>
    </div>    
</div>