<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Flat List</h3>
            <hr>
            <!-- <a class="btn btn-info" routerLink="/create-flat">Add New Flat</a> -->
            <br>
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="bg-secondary" style="color: white;">
                  <th>Name</th>
                  <th>Category</th>
                  <th>Meter No</th>
                  <th>Rent</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of flatList">
                  <td>{{item.name}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.meterNo}}</td>
                  <td>{{item.rent}}</td>
                  <ng-template [ngIf]="item.status==true">             
                    <td><span class="badge badge-danger">Occupied</span></td>
                  </ng-template>
                  <ng-template [ngIf]="item.status==false">
                    <td><span class="badge badge-success">Free</span></td>
                  </ng-template>
                  <td>
                    <a class="btn btn-sm btn-warning" routerLink="/edit-flat">Edit</a>
                    <!-- <a class="btn btn-sm btn-warning" (click)="">Edit</a> -->
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
