<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Flat List</h3>
            <hr>

            <!-- <a class="btn btn-info" routerLink="/create-flat">Add New Flat</a>
            
            Button trigger modal
            <button type="button" (click)="addClick()" class="btn btn-primary float-right m-2" 
              data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
              Add New Flat
            </button>

            Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                    <button type="button" (click)="closeClick()" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <app-edit-flat [flat]="flat" *ngIf="ActivateEditFlatComp"></app-edit-flat>
                  </div>                  
                </div>
              </div>
            </div>

            <br>
            <table class="table table-bordered table-hover">
              <thead>
                <tr class="bg-secondary" style="color: white;">
                  <th>Name</th>
                  <th>Category</th>
                  <th>Meter No</th>
                  <th>Rent</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of flatList">
                  <td>{{item.name}}</td>
                  <td>{{item.category}}</td>
                  <td>{{item.meterNo}}</td>
                  <td>{{item.rent}}</td>
                  <ng-template [ngIf]="item.status==true">             
                    <td><span class="badge badge-danger">Occupied</span></td>
                  </ng-template>
                  <ng-template [ngIf]="item.status==false">
                    <td><span class="badge badge-success">Free</span></td>
                  </ng-template>
                  <td>                   
                    <button type="button" (click)="editClick(item)" class="btn btn-sm btn-warning" data-toggle="modal" 
                      data-target="#exampleModal" data-backdrop="static" data-keyboard="false">
                      Edit
                    </button>
                   ||
                    <button type="button" (click)="deleteClick(item)" class="btn btn-sm btn-danger">
                    Delete
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>


